<footer class="footer">
 
  <div class="text-center p-3 bg-grey" style="background-color: rgba(0, 0, 0, 0.2); color: white;">
   All right reserved to Copyright © 2023. 
    <a href="<%= root_path %>">support@ichat.pk</a>
  </div>
 
</footer>
