 @import "bootstrap";
 body {
    // background: url("iChat.jpg");
    // background-size: cover; 
    // background-attachment: fixed;
    font-family: Monospace;
    color: white;
  }
  .bordered-div {
    border: 1px solid black; 
    padding: 10px;
    color :#555;
  }
  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  
  .video-background video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .alert-alert {
    @extend .alert-danger;
  }
  .alert-notice {
    @extend .alert-success;
  }
  .nav-link {
    font-family: Monospace;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-decoration: none; 
  }
  .bordered-div {
    border: 1px solid black; 
    font-family: Monospace;
    text-align: center;
    padding: 10px;
    background-color: grey;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    font-family: Monospace;
    font-weight: bold;
    text-align: center;
  }
  .msg-form {
    position: fixed;
    bottom: 114px;
    width: 53%
  }

  .col-md-10 {
    height: 100vh;
    overflow: scroll;
  }

  .msg-content {
    width: 85%;
    margin-right: 5px;
  }
  .message-box {
    width: fit-content;
    max-width: 42%;
    padding: 5px;
    border-radius: 10px;
    background-color: grey;
    margin-bottom: 10px;
    padding: 10px;
  }
  .name {
    color: blue;
    font-weight: bold;
  }
  .col-md-9 {
    background-image: url('wa2.png');
    height: 65vh;
    overflow-y: auto;
  }
  .col-md-3 {
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 0px;
    padding-right: 0px;
  }

  #bord {
    border: 1px solid black; 
    padding: 10px;
    color :#555;
    position: sticky;
    top: 0;
  }
  .ctr-sc{
    position: sticky;
    top: 0;
  }

  .image-upload > input {
    display: none;
  }
  .upload-button {
    padding: 10px;
    font-size: 25px;
  }
  .upload-button:hover {
    cursor: pointer;
    opacity: 0.75;
  }
  /**
      * Adds a horizontal scroll bar that hides extra attachments
      */
  #attachment-previews {
    position: absolute;
    display: inline;
    bottom: 120px;
    height: 70px;
    width: 290px;
    overflow-y: hidden;
    overflow-x: auto;
    direction: rtl;
    white-space: nowrap;
  }
  .attachment-preview {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    max-height: 50px;
    background-size: contain;
    font-size: 50px;
    text-align: bottom;
    vertical-align: middle;
    line-height: 0px;
  }
  .cancel-upload-button {
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: 15px;
    padding: 3px;
    color: rgb(224, 0, 0);
    opacity: 0.75;
  }
  .cancel-upload-button:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  .attachment-image-container {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 100%;
    font-size: 50px;
    text-align: bottom;
    vertical-align: middle;
    line-height: 0px;
  }
  .preview-image {
    display: block;
    position: absolute;
    background-size: contain;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .microphone-icon {
  font-size: 1.5rem;
  cursor: pointer;
}
.microphone-icon:hover {
  opacity: 0.75;
}